<div class="row">
    <h1 class="text-center">Supported utilities:</h1>

    <ul>
        <li>
            <abbr title="Network Mapper">Nmap</abbr> is a free and open source (license) utility for network discovery
            and security
            auditing.
            Nmap uses raw IP packets in novel ways to determine what hosts are available on the network, what services
            (application name and version) those hosts are offering, what operating systems (and OS versions) they are
            running, what type of packet filters/firewalls are in use, and dozens of other characteristics.
        </li>
        <li>
            sqlmap is an open source penetration testing tool that automates the process of detecting and exploiting SQL
            injection flaws and taking over of database servers.
        </li>
    </ul>
</div>